.container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: #222;
  border-radius: 15px;
}

.result {
  background: white;
  padding: 20px;
  font-size: 30px;
  text-align: right;
  margin-bottom: 15px;
  border-radius: 10px;
}

.click {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #ddd;
}
